<div class="comment">
<p>
  <strong>  <%= User.find_by_id(comment.user_id).email %> sagt:</strong>

</p>
  <%= simple_format h(comment.body) %> 
  <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger'%>
</div>
<hr/>