<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Title</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= Tag.find_by_id(topic.tag).name %></td>
        <td><%= link_to topic.title, topic%></td>
        <td><%= time_ago_in_words(topic.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
