<h1>Listing topics</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Title</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <% if topic.tag_id == 2 %>
          <span class = "btn btn-xs btn-danger disabled">
          <% elsif topic.tag_id == 3 %>
          <span class = "btn btn-xs btn-info disabled">
          <% elsif topic.tag_id == 4 %>
          <span class = "btn btn-xs btn-success disabled">
          <%end%>

          <%= link_to Tag.find_by_id(topic.tag).name, topic%>
          </span>
        </td>
        <td><%= link_to topic.title, topic%></td>
        <td><%= time_ago_in_words(topic.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path, :class => "btn btn-sm btn-success" %>
