<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Rosarote Kegelteufel</a>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <%= render :partial => 'shared/usernav', :locals => {:current_user => current_user}%>
        <% else %>
          <%= render :partial => 'shared/visitornav'%>
             <% end %>
        </ul>
      </ul>
    </div>
  </div>
</div>