<tr>
	<td rowspan="2"><%= image_tag images.file.url(:medium)%></td>
	<td><%= images.title %></td>
	</tr>
<tr>
	<td>
	<div class = "btn-group pull-left"><%= link_to 'Edit', edit_image_path(images), :class=> 'btn btn-xs btn-default'%><%= link_to 'Destroy', images, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-xs btn-danger'%></td>
	</div>

</tr>


