<tr>
	<td rowspan="2"><%= link_to (image_tag images.file.url(:medium)), images %></td>
	<td><%= images.title %></td>
	</tr>
<tr>
	<td>
	<div class = "btn-group pull-left"><%= link_to 'Destroy', images, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-xs btn-danger'%></td>
	</div>

</tr>


